/* @override 
	http://127.0.0.1:4000/css/app.css
	http://0.0.0.0:4000/css/app.css
*/

.repo {
  color:  #333;
  background-color: #f2f2f2;
  border-left: 8px solid #f16a54;
  border-right: 24px solid #fff;
  margin-bottom: 24px;
  /*height: 296px;*/
}
.description {
  height: 38px;
  overflow: hidden;
}
.meta {
  color: #aaa;
}
.meta .githubmetaval {
  color: #333;
}
.techs, .languages, .levels {
  margin-bottom: 0.5em;
}
.tech, .language, .level {
  margin-right: 4px;
  font-size: 0.75em;
  border: 1px solid #333;
  background-color: transparent;
}

.tech {
  color: #0096ff;
  border-color: #0096ff;
}
.language {
  color: red;
  border-color: red;
}
.level {
  color: #008f51;
  border-color: #008f51;
}
.facet-title {
  font-weight: 700;
  color: #888;
  font-variant: small-caps;
}

#hero {
  color: white;
  background: #231f20 url('/img/IBMCodeLabs_header.png') no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  height: 180px;
  margin-top: -20px;
  font-size: 14pt;
  border-bottom: 24px solid #555;
  margin-bottom: 24px;
}
#hero-text {
  position: relative;
  top: 48px;
  left: 30px;
}
#hero-company {
  color: #06a0d3;
}
#hero-org {
  font-weight: 600;
}
#hero-title {
  font-size: 2em;
  /*color: #ddd;*/
  margin-top: 0.15em;
}

.gistpreview {
  max-height: 256px;
  margin-bottom: 8px;
  display: block;
  overflow: scroll;
  box-shadow: inset
}