<div id="pnext-footer" class="row links-footer" aria-label="Page footer">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <!--<ul id="menu-footer" class="pn-footer-menu pn-il pn-il--center">
            <li class="pn-footer-menu-item pn-il-item"><a href="http://www.ibm.com/privacy/">IBM Privacy</a></li>
        </ul>-->
    </div>
    <div class="col-md-3 pull-right">
        &nbsp;
        <!--<a href="http://ibm.com"><img src="css/IBM-01.png" width="56"></a>-->
    </div>
</div>