<!DOCTYPE html>
<html>
{% include head.html %}

<body>
            {% include header.html %}

  <div id="content">
    <div class="container-fluid">

        <div class="row" >
          <div class="col-md-12" >
            <p class="faceted-languages" >Languages: </p>
          </div>
          <div class="col-md-12" >
            <p class="faceted-technologies" >Technology: </p>
          </div>
        </div>

        <div class="row" >
          <div class="col-md-10 col-md-offset-1" >
            {{ content }}
          </div>
        </div>

      </div>
    </div>

  {% include footer.html %}
</body>
</html>
