<!DOCTYPE html>
<html>
{% include head.html %}

<body>
            {% include header.html %}

  <div id="content">
    <div class="container">

      <div id="preface" class="row">
        <div class="col-md-12">
          <h1><span class="hl">Open source</span> projects from the <span class="hl">developer advocacy</span> team at IBM Cloud Data Services. 
          </h1>
        </div>
      </div>

        <!--<div class="row" >
          <div id="facets" class="col-md-10" >
            <p class="faceted-technologies" ><span class="facet-title">Technology: </span></p>
            <p class="faceted-languages"><span class="facet-title">Languages: &nbsp;&nbsp; </span></p>
          </div>
        </div>-->

        <!--<div class="row" >-->
            {{ content }}
        <!--</div>-->

      </div>
    </div>

  {% include footer.html %}
</body>
</html>
